.soccer-tableHead {
  background-color: red;
}

.soccer-headerText {
  font-size: 24px;
  font-weight: 750;
  text-shadow: -1px 1.1px 0 gold,
                1px 1.1px 0 gold,
                1px -1.1px 0 gold,
               -1px -1.1px 0 gold;
}